experiment_name: "dpo_summary"

model:
  name: "CarperAI/openai_summarize_tldr_sft" #As mentioned in page 7 of the paper
  dtype: "float32" #Based on the config.json 
  use_flash_attention: false

training:
  seed: 456
  num_epochs: 1
  batch_size: 1
  grad_accumulation_steps: 16
  learning_rate: 1e-5
  weight_decay: 0.01
  max_grad_norm: 1.0
  warmup_steps: 10

dpo:
  beta: 0.1  # hyperparam DPO
  label_smoothing: 0.0
  prompt: |
    You are an evaluator.

    Given the post and two summaries, choose which summary is better.

    Reply with exactly ONE character:
    A or B

    Do not explain.
    Do not output anything else.

    Post:
    {post}

    Summary A:
    {summary_a}

    Summary B:
    {summary_b}


data:
  train_path: "data/processed/summarization/train_summarization.jsonl"
  val_path: "data/processed/summarization/val_summarization.jsonl"
  prompt_nb: 500
  max_prompt_length: 2048
  max_response_length: 256

logging:
  save_dir: "checkpoints/summary_dpo"
  log_every: 100
  eval_every: 100

testing:
  prompt_nb: 50